<ion-header>
  <ion-toolbar>
    <ion-title>Recarga tu cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="payu(10000)">
      <ion-label>Recarga de $10.000</ion-label>
      <a href="https://biz.payulatam.com/B0ed98f1C28FC57"><img src="https://ecommerce.payulatam.com/img-secure-2015/boton_pagar_mediano.png"></a>
    </ion-item>
    <ion-item (click)="payu(20000)">
      <ion-label>Recarga de $20.000</ion-label>
      <a href="https://biz.payulatam.com/B0ed98fBB6730F5"><img src="https://ecommerce.payulatam.com/img-secure-2015/boton_pagar_mediano.png"></a>
    </ion-item>
    <ion-item (click)="payu(50000)">
      <ion-label>Recarga de $50.000</ion-label>
      <a href="https://biz.payulatam.com/B0ed98f8A8957FD"><img src="https://ecommerce.payulatam.com/img-secure-2015/boton_pagar_mediano.png"></a>
    </ion-item>
    <ion-item (click)="payu(100000)">
      <ion-label>Recarga de $100.000</ion-label>
      <a href="https://biz.payulatam.com/B0ed98fF444BD89"><img src="https://ecommerce.payulatam.com/img-secure-2015/boton_pagar_mediano.png"></a>
    </ion-item>
    </ion-list>
</ion-content>
