:host ::ng-deep .toolbar-background--loter {
    padding-left: unset;
    padding-right: unset;
    padding-inline-start: var(--padding-start);
    padding-inline-end: var(--padding-end);
    height: 58px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/lotterking-a692c.appspot.com/o/LOGOHEADER.jpg?alt=media&token=75ce3fca-ae76-4d1d-9e62-dc8599998662);    
  }