<ion-header [translucent]="true" >
  <ion-toolbar>
  <div class="toolbar-background--loter">
    
  </div>
  <span style="display: flex;
  justify-content: space-between;
  flex-wrap: wrap;background-color: #AAB7B8;">
    <ion-note  style="color: white;background-color: #AAB7B8;font-size: 18px;margin-left: 5px;">Bienvenido! {{customer?.userName}}</ion-note>  
    <ion-note style="color: white;background-color: #AAB7B8;font-size: 18px;margin-right: 6px;"> Saldo: {{customer?.accountBalance | currency: 'USD' : 'symbol' : '1.0-0' }} </ion-note>
  </span>
  
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card-game">
    <div class="acummulated">
      {{lottery?.winningPot| currency: 'USD' : 'symbol' : '1.0-0' }}
    </div>
    <div class="chronometer-container">
      <div class="hour-container"
       style="padding-left: 5px; margin-left: 1.8em;font-size: 14px;width: 60px;margin-top: 7px;padding-right: 10px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;" *ngIf="days"><ion-note style="color: white;margin-right: 7px;margin-left: 5px;">Faltan </ion-note>{{days}}</div>
      <div class="minute-container" style="padding-left: 16px;">{{hourOutput}}:</div>
      <div class="second-container">{{minuteOutput}}:</div>
      <div class="milisecond-container">{{secondsOutput}}</div>
    </div>
  </div>
  <ion-button (click)="presentAlertConfirm()" expand="block" shape="round"color="success" style="margin: 10px;" *ngIf="!existPlayer">
    Jugar
  </ion-button>
<ion-grid fixed *ngIf="existPlayer">
  <ion-row style="margin: 0px;padding: 0px;height: 30px;">
    <ion-col size="3"></ion-col>
    <ion-col size="6">
      <p style="font-weight: bold;text-align: center;">Su Número es</p>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>
  <ion-row style="margin: 0px;padding: 0px;">
    <ion-col size="3"></ion-col>
    <ion-col size="6" style="padding-left: 17px;">
      <div style="display: flex;margin-top: 16px;padding: 0px 15px 2px 20px ;background-color:rgb(233, 233, 236)">
        <div slot="start" class="dot"><p style="color: white;text-align: center;margin: 10px;">{{customer.positionOne}}</p></div>
        <div slot="start" class="dot--right"><p style="color: white;text-align: center;margin: 10px;">{{customer.positionTwo}}</p></div>
      </div>
    </ion-col>
    <ion-col size="3"></ion-col>
    <ion-col size="3">
      
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="playing()" expand="block" shape="round"color="success" style="margin: 10px;">
        Sorteo
      </ion-button>  
    </ion-col>
    <ion-col size="3">
      
    </ion-col>
    
  </ion-row>
</ion-grid>
  
 
  
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onClick()" style="margin-bottom: 10px;">
        <ion-icon name="logo-usd"></ion-icon>

        Comprar Saldo
      </ion-button>
     
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="onClick()" style="margin-bottom: 10px;">
        <ion-icon name="settings-outline"></ion-icon>
         <p style="padding-left: 10px;">Menu</p>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>