<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar-background--loter">

    </div>

  </ion-toolbar>
  <div class="chronometer-container" *ngIf="startGame && verificado">
    <div class="minute-container" style="margin-left: 80px;">{{minuteOutput}}:</div>
    <div class="second-container">{{secondsOutput}}:</div>
    <div class="milisecond-container">{{miliSecondsOutput}}</div>
  </div>
  <div *ngIf="!verificado" style="background: #AAB7B8;height: 80px;text-align: center; padding: 0px;border:1px solid gray">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="7"><p style="font-size: 18px;font-weight: bold;">Resultados del sorteo </p></ion-col>
        <ion-col size="5"><ion-button (click)="back()">
          <ion-icon name="return-up-back-outline"></ion-icon>
          <p style="padding-left: 10px;">Volver</p>
        </ion-button></ion-col>
      </ion-row>
    </ion-grid>
    
    
  </div>
  <ion-grid style="margin: 0px;padding: 0px;">
    
    <ion-row style="background: #AAB7B8;height: 25px;padding: 0px;border:1px solid gray">
      <ion-col size="3" style="height: 25px;margin: 0px;padding: 0px;border:1px solid black">
        <p style="margin: 0px;color: white;text-align: center;margin-top: 1px;">Posición</p>
      </ion-col>
      <ion-col style="height: 25px;margin: 0px;padding: 0px;border:1px solid black">
        <p style="margin: 0px;color: white;text-align: center;margin-top: 1px;">Nombres</p>
      </ion-col>
      <ion-col size="2.5" style="height: 25px;margin: 0px;padding: 0px;border:1px solid black">
        <p style="margin: 0px;color: white;text-align: center;margin-top: 1px;"> Puntos</p>
      </ion-col>
      <ion-col size="2.5" style="height: 25px;margin: 0px;padding: 0px;border:1px solid black">
        <p style="margin: 0px;color: white;text-align: center;margin-top: 1px;">Votar</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>

    <ion-row>
      <ion-col size="12">
        <div class="chronometer-container" *ngIf="!startGame && verificado">

          <div class="hour-container" style="font-size: 14px;width: 60px;
             font-family: Verdana, Geneva, Tahoma, sans-serif;margin-top: 3px;" *ngIf="days">
            <ion-note style="color: white;
            margin-right: 1px;
            margin-left: 38px;
            margin-top: 3px;">Faltan </ion-note>
            {{days}}
          </div>
          <div class="minute-container" style="padding-left: 16px;">{{hourOutputH}}:</div>
          <div class="second-container">{{minuteOutputH}}:</div>
          <div class="milisecond-container">{{secondsOutputH}}</div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-list style="padding: 0px ;" *ngIf="lottery">
    <app-message *ngFor="let player of playersView;let i = index" [player]="player" [playerCurrent]="customer" [id]="customer.uid"
      [idWin]="winner" (updatePlayer)="updatePlayer($event)" (updatePlayerCustomer)="updatePlayerCustomer($event)" [index]="i"
      [verificado]="verificado"
     ></app-message>
  </ion-list>